
style "default" {
  bg[NORMAL] = "#1e2320"
  fg[NORMAL] = "#FFFFFF"
  text[NORMAL] = "#FFFFFF"
  font_name = "DejaVu Sans Mono 10"
}

style "notification-button" = "default" {
  bg[NORMAL]   = "#333333"
  text[NORMAL] = "#FF0000"
  fg[NORMAL] = "#FF0000"
}

widget "Taffybar*" style "default"
widget "*NotificationCloseButton" style "notification-button"
