[Unit]
Description=Lock screen automatically

[Service]
ExecStart=/usr/bin/xautolock -time 3 -corners ---- -locker 'i3lock -t -i /usr/local/wallpapers/background'

[Install]
WantedBy=graphical.target
