[Unit]
Description=Wallpaper setter
After=xorg.target
# hack:
Before=taffybar.service

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-scale /usr/local/wallpapers/background
Environment=DISPLAY=:0

[Install]
WantedBy=wm.target
