[Unit]
Description=Wallpaper setter

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-scale /usr/local/wallpapers/background
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
