[Unit]
Description=Lockscreen
Requires=dbus.socket

[Service]
ExecStart=/home/igor/.bin/inhibit.py 'i3lock -i /usr/local/wallpapers/background'

[Install]
WantedBy=graphical.target
