!--------------------------------------------------
! XServer configuration file
! file:     ~/.Xresources
!--------------------------------------------------

! Cursor settings:
xcursor.theme:			Vanilla-DMZ

! urxvt settings:
urxvt*font:             xft:DejaVu Sans Mono for Powerline:pixelsize=13
urxvt*scrollBar:		false
urxvt*internalBorder:	3
urxvt*letterSpace:      -1
urxvt*cursorBlink:      true
URxvt.perl-ext-common:  default,matcher
URxvt.matcher.button:   1
urxvt.urlLauncher:   	/usr/bin/chromium
urxvt.underlineURLs: 	true
URxvt.colorUL:          #4682B4
urxvt.inputMethod:      none
urxvt.preeditType:      OverTheSpot
urxvt.cursorColor:      #DDDDDD
urxvt*background:       #000000
urxvt*foreground:       #ffffff

! xdvi settings:
xdvi*background:		white
xdvi*foreground:		black
xdvi.editor:            gvim --remote-wait +%l "+normal %c|" %f

! xpdf settings:
xpdf*enableFreetype:    yes
xpdf*background:        white
xpdf*foreground:        black

urxvt*colorMode:          on
urxvt*colorBD:            lightyellow
urxvt*colorUL:            yellow
urxvt*colorULMode:        on
urxvt*dynamicColors:      off
urxvt*highlightSelection: true

urxvt.color0:           #2E3436
urxvt.color1:           #a40000
urxvt.color2:           #4E9A06
urxvt.color3:           #C4A000
urxvt.color4:           #3465A4
urxvt.color5:           #75507B
urxvt.color6:           #ce5c00
urxvt.color7:           #babdb9
urxvt.color8:           #555753
urxvt.color9:           #EF2929
urxvt.color10:          #8AE234
urxvt.color11:          #FCE94F
urxvt.color12:          #729FCF
urxvt.color13:          #AD7FA8
urxvt.color14:          #fcaf3e
urxvt.color15:          #EEEEEC
